.panel{
	background: #FFFFFF;
	box-shadow: 0px 2px 42px 0px #D3DEDF;
	border-radius: 0.75em;
	margin-bottom:7em;
}

.panel .panel-body{
	padding:3em;
}

.panel .panel-action{
	text-align:center;
	margin-top:4em;
	margin-bottom:-5em;
}